<form role="form" class="form-horizontal">

    <fieldset>
        <legend>Basic Information</legend>

        <div class="form-group">
            <label for="empName" class="col-sm-3 control-label">Employee Name</label>
            <div class="col-sm-9">
                <input type="text" id="empName" name="empName" class="form-control" ng-model="employee.name"/>
            </div>
        </div>

        <div class="form-group">
            <label for="instituteName" class="control-label col-sm-3">Institute Name</label>
            <div class="col-sm-9">
                <input type="text" id="instituteName" name="instituteName" class="form-control" ng-model="employee.institute"/>
            </div>
        </div>

        <div class="form-group">
            <label for="notes" class="control-label col-sm-3">Notes</label>
            <div class="col-sm-9">
                <textarea name="notes" id="notes" class="form-control" row="5" cols="10" ng-model="employee.notes"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="industry" class="control-label col-sm-3">Industry</label>
            <div class="col-sm-9">
                <select name="industry" id="industry" class="form-control" ng-model="employee.industry">
                    <option>Teaching</option>
                    <option>Finance</option>
                    <option>Engineering</option>
                    <option>Medical</option>
                </select>
            </div>
        </div>
    </fieldset>

    <br/>
    <fieldset>
        <legend>
            Perks
        </legend>
        <div class="col-sm-3">
        </div>

        <div class="col-sm-9">

            <div class="checkbox">
                <label><input type="checkbox" value="perkCar" ng-model="employee.perkCar">Company Car</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="perkFlat" ng-model="employee.perkFlat">Company Accomodation</label>
            </div>

        </div>
    </fieldset>

    <br/>

    <fieldset>
        <legend>City</legend>
        <div class="col-sm-3">
        </div>

        <div class="col-sm-9">
            <div class="radio">
                <label><input type="radio" name="city" value="mum" ng-model="employee.city"/>Mumbai</label>
            </div>

            <div class="radio">
                <label><input type="radio" name="city" value="ln" ng-model="employee.city"/>London</label>
            </div>

            <div class="radio">
                <label><input type="radio" name="city" value="tk" ng-model="employee.city"/>Tokyo</label>
            </div>

            <div class="radio">
                <label><input type="radio" name="city" value="ny" ng-model="employee.city"/>New York</label>
            </div>

            <div class="radio">
                <label><input type="radio" name="city" value="hk" ng-model="employee.city"/>Hong Kong</label>
            </div>
        </div>
    </fieldset>

    <br/>

    <div class="col-sm-9 col-sm-offset-3"> <!-- Offset by 3 grid columns and the grid column itself will be 9 cols wide -->
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </div>

</form>